[submodule "tilix"]
	path = tilix
	url = https://github.com/0xB26/tilix
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/0xB26/alacritty
[submodule "termite"]
	path = termite
	url = https://github.com/0xB26/termite
[submodule "xresources"]
	path = xresources
	url = https://github.com/0xB26/xresources
